@import "tailwindcss";

/* base styling */
body {
  @apply bg-[#0c0c0c] text-[#00ff88] font-mono;
}
input,
button {
  @apply bg-black text-white border border-gray-600 px-3 py-1 rounded-sm outline-none;
}

input:focus,
button:focus {
  @apply ring-2 ring-[#00ff88];
}

::selection {
  background: #00ff88;
  color: #0c0c0c;
}

.cursor-blink::after {
  content: "|";
  animation: blink 1s step-start infinite;
}

/* Phone input styling */
.react-phone-number-input input {
  @apply bg-black text-white border border-gray-600 px-3 py-1 rounded-sm outline-none w-full;
}
.PhoneInputCountrySelect {
  @apply bg-black text-white border border-gray-600 px-3 py-1 rounded-sm outline-none;
}
.react-phone-number-input input:focus,
.PhoneInputCountrySelect:focus {
  @apply ring-2 ring-[#00ff88];
}
.PhoneInputCountrySelect option {
  background-color: black;
  color: white;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #00ff88;
  border-radius: 10px;
  border: 2px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00cc66;
}

/* animate fade in breadcrumb */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}
